<div class="container panels">

  <h4><b>Bienvenido Profesor: {{ obj.user.username}}</b></h4>
  <h5><b>Estatus: </b>{{obj.user.status}}</h5>

  <div class="row bloque">
    <div class="col-8"> {{#if obj.cursos}}
      <h5>Lista de Cursos asignados</h5>
      {{#each obj.cursos}}
      <div class="area">
        <h4>Nombre: {{this.nombre}}</h4>
        <p>
          <b>Descripción</b>{{this.descripcion}}</p>
        <p>
          <b>Nivel:</b>{{this.nivel}}</p>
        <a href="/curso/editarCurso/{{this._id}}">Editar curso o aulas</a>
        <br>
      </div>{{/each}} {{/if}}

    </div>

    <div class="col-4">

      <h5>Alta de Curso</h5>
      <div class="area">
        <form action="/teacher/teacherPanel" method="POST" id="add-curso-container">
          <div class="form-group">
            <label for="nombre">Nombre del Curso</label>
            <input type="name" class="form-control" name="nombre" id="nombre" placeholder="Nombre de curso">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="descripcion" class="form-control" name="descripcion" id="descripcion" placeholder="Decribe brevemente el curso">
          </div>
          <div class="form-group">
            <label for="nivel">Nivel</label>
            <input type="number" class="form-control" name="nivel" id="nivel" placeholder="Selecciona el nivel">
          </div>
          <div class="form-group">
            <label for="lecciones">Número de lecciones</label>
            <input type="number" class="form-control" name="lecciones" id="lecciones" placeholder="Número de lecciones">
          </div>

          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <button type="submit" class="btn btn-primary buttonCenter">Crear Curso</button>
        </form>
      </div>
    </div>
  </div>
</div>