<div class="container panels">
    <h4>
        <b>Bienvenido {{obj.user.username}}</b>
    </h4>
    <h5>
        <b>Estatus: </b>{{obj.user.status}}</h5>
    <div class="row bloque">
        <div class="col-8">
            {{#if obj.curso}}
                <h5>Lista de Cursos asignados</h5>
                    {{#each obj.cursos}}
                        <div class="area">
                            <h6>{{this.nombre}}</h6>
                            <p><b>Descripción</b>{{this.descripcion}}</p>
                            <p><b>Nivel:</b>{{this.nivel}}</p>
                            <a href="/curso/editarCurso/{{this._id}}">Editar curso o aulas</a>
                            <br>
                        </div>
                    {{/each}}
            {{/if}}

            {{#unless obj.cursos}}
            <h5>No hay cursos asignados</h5>
            {{/unless}}

        </div>
        <div class="col-4">
            <h5>Ver cursos</h5>
            <div class="area">
                <a href="/curso/listadoCursos" class="btn btn-primary buttonCenter" role="button">Ver cursos</a>           
            </div>
        </div>
    </div>
</div>
 <a href="/curso/verClase">Ver clase</a>    