<div class="container panels">
    <h4>
        <b>Bienvenido {{obj.user.username}}</b>
    </h4>
    <h5>
        <b>Estatus: </b>{{obj.user.status}}</h5>
    <div class="row bloque">
        <div class="col-8">
            {{#if obj.aulas}}
                <h5>Mis cursos</h5>
                    {{#each obj.aulas}}
                        <div class="area">
                            <h6>{{this.idCurso.nombre}}</h6>
                            <p><b>Descripción</b>{{this.idCurso.descripcion}}</p>
                            <p><b>Nivel:</b>{{this.idCurso.nivel}}</p>
                            {{#each this.fechas}}
                            <p><b>Fecha: </b>{{this.fechaLeccion}}</p>
                            {{/each}}
                            <a href="https://talkgadget.google.com/hangouts/_/{{this.contenido}}">Ir a clase</a>
                            <br>
                        </div>
                    {{/each}}
            {{/if}}

            {{#unless obj.aulas}}
            <h5>No hay cursos asignados</h5>
            {{/unless}}

        </div>
        <div class="col-4">
            <h5>Ver cursos</h5>
            <div class="area">
                <a href="/curso/listadoCursos" class="btn btn-primary buttonCenter" role="button">Ver cursos</a>           
            </div>
        </div>
    </div>
</div>
 <a href="/curso/verClase">Ver clase</a>    