<div class="container panels">
    <div class="row encabezado">
        <div class="col-12">
            <h4>
                <b>{{ obj.user.username}}</b>
            </h4>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-12">
            <div class="row">
                <div class="col-12 ">
                    {{#if curso}}
                    <h4>Cursos disponibles</h4>
                    {{#each curso}}
                    <div class="row area">
                        <div class="col-8">
                            <h5>Curso de {{this.nombre}}</h5>
                        </div>
                        <div class="col-4 floatRigthText">
                            <h6>Nivel: {{this.nivel}}</h6>
                        </div>
                        <div class="col-12">
                            <span>
                                <b>Profesor:</b>
                                <br>
                            </span>
                            <span>{{this.profesor}}</span>
                            <br>
                            <br>
                        </div>
                        <div class="col-12">
                            <span>
                                <b>Descripción</b>
                            </span>
                            <br> {{this.descripcion}}
                            <span>
                                <br>
                                <br>
                                <h6>Aulas:</h6>
                            </span>
                        </div>
                        <br>
                        <div class="row">
                            {{#each this.aulas}}
                            <div class="col-12">
                                {{#each this.fechas}} - {{this.fechaLeccion}}
                            {{/each}}
                                <br>
                                <a href="/curso/apuntame/{{this._id}}" class="btn btn-primary buttonCenter" role="button">Apuntarse</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    </p>
                </div>
            </div>
            {{/each}} {{/if}}
            <br>
        </div>
    </div>

</div>
